# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Dataset (สำคัญ)
classifier_data/
Dataset/
*.jpg
*.png

# Model weights
*.pt
*.pth

# YOLO training results
runs/

# Virtual Environment
venv/
env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log